<div class="flex-divide">
	<main>
		<h2>Chi sono?</h2>
		<div class="flex-center">
			<p>
				Amo la musica e ciò che la ispira. Sono un appassionato di tecnologia e di tutto ciò che è innovativo. Approfondisci la mia conoscenza e scopri il mio percorso.
			</p>
		</div>
	</main>
	<app-hoverable-image
		[source]="'placeholders/500x300.png'"
		[pageLink]="'/' + paths.ABOUT"
		overlayText="Clicca il pulsante per scoprire il mio percorso"
		btnIconClass="fa-route"
		btnLabel="Percorso"
	>
	</app-hoverable-image>
</div>
