<div class="flex-divide">
	<main>
		<h2>Chi sono?</h2>
		<div class="flex-center"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in labore atque porro eveniet sit, aperiam
			qui,
			incidunt
			minima maiores obcaecati. Rem, officiis ut nihil soluta, placeat architecto beatae minima veniam, iusto
			incidunt
			odio. Minus tempore vel accusamus earum illum esse quod? Placeat culpa odit sequi suscipit, voluptate ea
			doloribus.
		</p>
	</div>
	</main>
	<app-hoverable-image
		[source]="'https://placehold.co/500x300'"
		overlayText="Clicca il pulsante per scoprire il mio percorso"
		btnIconClass="fa-route"
		btnLabel="Percorso">
	</app-hoverable-image>
</div>
