<div class="sidenav-overlay" [ngClass]="{ 'open': opened }" (click)="toggleSidenav()"></div>
<div class="sidenav" [ngClass]="{ 'open': opened }">
	<div>
		<!-- <button (click)="toggleSidenav()">
			<i class="fa-solid fa-x"></i>
		</button> -->
		<img id="logo" src="logoAndrea.png" alt="Logo of the Website" loading="eager" [ngClass]="{'invert-color': isThemeDark}">
		<nav>
			<a [routerLink]="paths.HOME" (click)="toggleSidenav()">
				<div>
					<i class="fa-solid fa-house fa-fw"></i>
					<p>{{ navLinksLabels.HOME }}</p>
				</div>
			</a>
			<a [routerLink]="paths.ABOUT" (click)="toggleSidenav()">
				<div>
					<i class="fa-solid fa-user fa-fw"></i>
					<p>{{ navLinksLabels.ABOUT }}</p>
				</div>
			</a>
			<a [routerLink]="paths.CONTACTS" (click)="toggleSidenav()">
				<div>
					<i class="fa-solid fa-phone fa-fw"></i>
					<p>{{ navLinksLabels.CONTACTS }}</p>
				</div>
			</a>
			<a [routerLink]="paths.COURSE" (click)="toggleSidenav()">
				<div>
					<i class="fa-solid fa-book fa-fw"></i>
					<p>{{ navLinksLabels.COURSE }}</p>
				</div>
			</a>
		</nav>
	</div>
</div>
