.sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.sidenav-overlay.open {
	visibility: visible;
	opacity: 1;
}

.sidenav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	column-gap: 3rem;
	position: fixed;
	width: 70%;
	max-width: 300px;
	height: 100vh;
	top: 0;
	right: -70%;
	background-color: var(--white);
	overflow-x: hidden;
	flex-direction: column;
	transition: 0.3s;
	z-index: 999 !important;
	/* border-left: 1px solid var(--black); */
}

.sidenav.open {
	right: 0;
	box-shadow: 50px var(--black)
}

#logo {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.sidenav button {
	position: absolute;
	right: 10px;
	margin: 10px;
	background: none;
	border: none;
	color: var(--white);
	font-size: 20px;
	cursor: pointer;
}

.sidenav nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%
}

.sidenav nav a {
	width: 100%;
	color: var(--black);
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	transition: 0.3s;
	border-top: 1px solid #c0c0c080
}

.sidenav nav a:last-child {
	border-bottom: 1px solid #c0c0c080
}

.sidenav nav a div {
	display: flex;
	justify-content: start;
	align-items: center;
	column-gap: 10px;
	padding: 10px 10px 10px 15px;
}

#bottom-side-image {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

@media screen and (min-width: 769px) {
	.sidenav {
		display: none;
	}
	.sidenav-overlay {
		display: none;
	}
}
