<header>
	<img id="logo" src="logoAndrea.png" alt="Logo of the Website" loading="eager" (click)="scrollToTop()">
	<nav>
		<ul>
			<li>
				<a [class.active]="activeNavLink === paths.HOME" (click)="scrollToTop()">
					Home
				</a>
			</li>
			<li>
				<a [class.active]="activeNavLink === paths.ABOUT" (click)="scrollToSection(paths.ABOUT)">
					Chi sono
				</a>
			</li>
			<li>
				<a [class.active]="activeNavLink === paths.CONTACTS" (click)="scrollToSection(paths.CONTACTS)">
					Contatti
				</a>
			</li>
		</ul>
	</nav>
</header>
