<header>
	<img
		id="logo"
		src="logoAndrea.png"
		alt="Logo of the Website"
		loading="eager"
		[routerLink]="paths.HOME"
	/>
	<nav>
		<ul>
			<li>
				<a routerLinkActive="active" [routerLink]="paths.HOME">
					{{ navLinksLabels.HOME }}
				</a>
			</li>
			<li>
				<a routerLinkActive="active" [routerLink]="paths.ABOUT">
					{{ navLinksLabels.ABOUT }}
				</a>
			</li>
			<li>
				<a routerLinkActive="active" [routerLink]="paths.CONTACTS">
					{{ navLinksLabels.CONTACTS }}
				</a>
			</li>
		</ul>
		<i class="fa-solid fa-bars hamburger-menu" (click)="toggleSidenav()"></i>
	</nav>
</header>
