header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	padding: 0px 20px;
	left: 0;
	right: 0;
	top: 0;
	height: 100px;
	background: var(--nav-bkg-color);
	box-shadow: var(--nav-box-shadow);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 1px solid var(--nav-border-color);
	z-index: 997;
}

#logo {
	max-height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#logo.invert-color {
	filter: invert(100%);
}

#logo:hover {
	cursor: pointer;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hamburger-menu {
	display: none;
	cursor: pointer;
}

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-evenly;
	column-gap: 2vw;
	margin-right: 2vw;
	flex-wrap: nowrap;
}

a {
	color: var(--text-color);
	text-decoration: none;
	transition: border-bottom 1s ease;
	display: inline-block;
	/* overflow: hidden;
	white-space: nowrap; */
	/* Ensures ::after only covers the link text */
	position: relative;
	/* Set relative positioning to use ::after effectively */
	transition: color 0.3s ease;
}

a:hover {
	color: var(--primary-color);
	cursor: pointer;
}

/* Underline effect */
a::after {
	content: "";
	width: 0;
	height: 2px;
	background-color: var(--text-color);
	position: absolute;
	left: 0;
	bottom: 0;
	/* Position it directly below the text */
	transition: all 0.3s ease;
}

/* Animate underline on hover */
a:hover::after {
	width: 100%;
	background-color: var(--primary-color);
}


a.active {
	color: var(--primary-color);
}

a.active::after {
	width: 100%;
	background-color: var(--primary-color);
}

/* MOBILE */

@media screen and (max-width: 768px) {
	ul {
		display: none;
	}

	#logo {
		padding: 10px 0;
	}

	.hamburger-menu {
		display: block;
		margin-left: 20px;
	}
}
