<app-navbar></app-navbar>
<div style="margin-top: 100px">
	<button class="primary-btn"> Cliccami!<i class="fa-solid fa-phone"></i></button>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus vel at porro inventore illum quae
		necessitatibus iure laudantium. Iste quia et, deleniti expedita itaque totam enim corporis natus autem nulla
		magni. Nesciunt nisi natus dolorem, voluptatum ratione asperiores a nihil voluptates accusamus voluptatibus
		omnis obcaecati ullam velit nemo, id odit? Quasi ducimus voluptates enim sapiente minus. Iure in voluptate
		consectetur explicabo omnis odio recusandae itaque doloribus a vel, praesentium iusto? Ea, commodi voluptate.
		Esse harum optio tenetur, ex possimus mollitia eveniet ratione iste, quo reiciendis, magni dolor debitis! Nihil
		ut ratione quos possimus explicabo totam reprehenderit atque dolore, libero nostrum magni numquam cum, ad
		voluptas minima delectus ipsam adipisci, alias est! Aliquid omnis incidunt nobis nam, magnam excepturi esse
		consequatur, corporis nesciunt ex, fuga quidem culpa illo. Esse, temporibus provident. Vel recusandae corrupti
		repudiandae labore reprehenderit non ad veritatis, tempora, obcaecati ex deleniti quam eius? Quos, molestiae
		minus consequatur corrupti quidem optio animi ratione accusantium sint quae vel ad dolores autem alias?
		Perferendis explicabo soluta vitae voluptatem cumque obcaecati in possimus laudantium illum labore! Modi ullam
		ipsa ex atque vero non corrupti sequi nam odio, omnis natus assumenda, quisquam deleniti praesentium! Rem
		voluptatum facilis soluta ex, rerum, ratione laborum voluptate eius quasi debitis perferendis tempore
		cupiditate, labore qui sapiente deleniti accusantium officiis maiores ipsum placeat! Quod pariatur aperiam
		tempora ab similique sed error ullam. Necessitatibus reiciendis qui placeat beatae explicabo iusto nemo nam
		reprehenderit, quae eum dolor sequi consequuntur, impedit aspernatur corrupti. Unde facere nulla maxime ex
		eligendi reprehenderit modi esse, deleniti error asperiores nam ratione iusto velit saepe beatae magni in
		blanditiis? Quibusdam voluptatem reiciendis impedit corrupti, quaerat debitis architecto odio repellat nihil
		temporibus porro assumenda nulla cupiditate praesentium doloribus soluta? Minima molestiae vitae odit saepe quam
		doloremque fugiat dignissimos, ex voluptas inventore nesciunt aliquam sint modi aperiam!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus vel at porro inventore illum quae
		necessitatibus iure laudantium. Iste quia et, deleniti expedita itaque totam enim corporis natus autem nulla
		magni. Nesciunt nisi natus dolorem, voluptatum ratione asperiores a nihil voluptates accusamus voluptatibus
		omnis obcaecati ullam velit nemo, id odit? Quasi ducimus voluptates enim sapiente minus. Iure in voluptate
		consectetur explicabo omnis odio recusandae itaque doloribus a vel, praesentium iusto? Ea, commodi voluptate.
		Esse harum optio tenetur, ex possimus mollitia eveniet ratione iste, quo reiciendis, magni dolor debitis! Nihil
		ut ratione quos possimus explicabo totam reprehenderit atque dolore, libero nostrum magni numquam cum, ad
		voluptas minima delectus ipsam adipisci, alias est! Aliquid omnis incidunt nobis nam, magnam excepturi esse
		consequatur, corporis nesciunt ex, fuga quidem culpa illo. Esse, temporibus provident. Vel recusandae corrupti
		repudiandae labore reprehenderit non ad veritatis, tempora, obcaecati ex deleniti quam eius? Quos, molestiae
		minus consequatur corrupti quidem optio animi ratione accusantium sint quae vel ad dolores autem alias?
		Perferendis explicabo soluta vitae voluptatem cumque obcaecati in possimus laudantium illum labore! Modi ullam
		ipsa ex atque vero non corrupti sequi nam odio, omnis natus assumenda, quisquam deleniti praesentium! Rem
		voluptatum facilis soluta ex, rerum, ratione laborum voluptate eius quasi debitis perferendis tempore
		cupiditate, labore qui sapiente deleniti accusantium officiis maiores ipsum placeat! Quod pariatur aperiam
		tempora ab similique sed error ullam. Necessitatibus reiciendis qui placeat beatae explicabo iusto nemo nam
		reprehenderit, quae eum dolor sequi consequuntur, impedit aspernatur corrupti. Unde facere nulla maxime ex
		eligendi reprehenderit modi esse, deleniti error asperiores nam ratione iusto velit saepe beatae magni in
		blanditiis? Quibusdam voluptatem reiciendis impedit corrupti, quaerat debitis architecto odio repellat nihil
		temporibus porro assumenda nulla cupiditate praesentium doloribus soluta? Minima molestiae vitae odit saepe quam
		doloremque fugiat dignissimos, ex voluptas inventore nesciunt aliquam sint modi aperiam!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus vel at porro inventore illum quae
		necessitatibus iure laudantium. Iste quia et, deleniti expedita itaque totam enim corporis natus autem nulla
		magni. Nesciunt nisi natus dolorem, voluptatum ratione asperiores a nihil voluptates accusamus voluptatibus
		omnis obcaecati ullam velit nemo, id odit? Quasi ducimus voluptates enim sapiente minus. Iure in voluptate
		consectetur explicabo omnis odio recusandae itaque doloribus a vel, praesentium iusto? Ea, commodi voluptate.
		Esse harum optio tenetur, ex possimus mollitia eveniet ratione iste, quo reiciendis, magni dolor debitis! Nihil
		ut ratione quos possimus explicabo totam reprehenderit atque dolore, libero nostrum magni numquam cum, ad
		voluptas minima delectus ipsam adipisci, alias est! Aliquid omnis incidunt nobis nam, magnam excepturi esse
		consequatur, corporis nesciunt ex, fuga quidem culpa illo. Esse, temporibus provident. Vel recusandae corrupti
		repudiandae labore reprehenderit non ad veritatis, tempora, obcaecati ex deleniti quam eius? Quos, molestiae
		minus consequatur corrupti quidem optio animi ratione accusantium sint quae vel ad dolores autem alias?
		Perferendis explicabo soluta vitae voluptatem cumque obcaecati in possimus laudantium illum labore! Modi ullam
		ipsa ex atque vero non corrupti sequi nam odio, omnis natus assumenda, quisquam deleniti praesentium! Rem
		voluptatum facilis soluta ex, rerum, ratione laborum voluptate eius quasi debitis perferendis tempore
		cupiditate, labore qui sapiente deleniti accusantium officiis maiores ipsum placeat! Quod pariatur aperiam
		tempora ab similique sed error ullam. Necessitatibus reiciendis qui placeat beatae explicabo iusto nemo nam
		reprehenderit, quae eum dolor sequi consequuntur, impedit aspernatur corrupti. Unde facere nulla maxime ex
		eligendi reprehenderit modi esse, deleniti error asperiores nam ratione iusto velit saepe beatae magni in
		blanditiis? Quibusdam voluptatem reiciendis impedit corrupti, quaerat debitis architecto odio repellat nihil
		temporibus porro assumenda nulla cupiditate praesentium doloribus soluta? Minima molestiae vitae odit saepe quam
		doloremque fugiat dignissimos, ex voluptas inventore nesciunt aliquam sint modi aperiam!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus vel at porro inventore illum quae
		necessitatibus iure laudantium. Iste quia et, deleniti expedita itaque totam enim corporis natus autem nulla
		magni. Nesciunt nisi natus dolorem, voluptatum ratione asperiores a nihil voluptates accusamus voluptatibus
		omnis obcaecati ullam velit nemo, id odit? Quasi ducimus voluptates enim sapiente minus. Iure in voluptate
		consectetur explicabo omnis odio recusandae itaque doloribus a vel, praesentium iusto? Ea, commodi voluptate.
		Esse harum optio tenetur, ex possimus mollitia eveniet ratione iste, quo reiciendis, magni dolor debitis! Nihil
		ut ratione quos possimus explicabo totam reprehenderit atque dolore, libero nostrum magni numquam cum, ad
		voluptas minima delectus ipsam adipisci, alias est! Aliquid omnis incidunt nobis nam, magnam excepturi esse
		consequatur, corporis nesciunt ex, fuga quidem culpa illo. Esse, temporibus provident. Vel recusandae corrupti
		repudiandae labore reprehenderit non ad veritatis, tempora, obcaecati ex deleniti quam eius? Quos, molestiae
		minus consequatur corrupti quidem optio animi ratione accusantium sint quae vel ad dolores autem alias?
		Perferendis explicabo soluta vitae voluptatem cumque obcaecati in possimus laudantium illum labore! Modi ullam
		ipsa ex atque vero non corrupti sequi nam odio, omnis natus assumenda, quisquam deleniti praesentium! Rem
		voluptatum facilis soluta ex, rerum, ratione laborum voluptate eius quasi debitis perferendis tempore
		cupiditate, labore qui sapiente deleniti accusantium officiis maiores ipsum placeat! Quod pariatur aperiam
		tempora ab similique sed error ullam. Necessitatibus reiciendis qui placeat beatae explicabo iusto nemo nam
		reprehenderit, quae eum dolor sequi consequuntur, impedit aspernatur corrupti. Unde facere nulla maxime ex
		eligendi reprehenderit modi esse, deleniti error asperiores nam ratione iusto velit saepe beatae magni in
		blanditiis? Quibusdam voluptatem reiciendis impedit corrupti, quaerat debitis architecto odio repellat nihil
		temporibus porro assumenda nulla cupiditate praesentium doloribus soluta? Minima molestiae vitae odit saepe quam
		doloremque fugiat dignissimos, ex voluptas inventore nesciunt aliquam sint modi aperiam!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus vel at porro inventore illum quae
		necessitatibus iure laudantium. Iste quia et, deleniti expedita itaque totam enim corporis natus autem nulla
		magni. Nesciunt nisi natus dolorem, voluptatum ratione asperiores a nihil voluptates accusamus voluptatibus
		omnis obcaecati ullam velit nemo, id odit? Quasi ducimus voluptates enim sapiente minus. Iure in voluptate
		consectetur explicabo omnis odio recusandae itaque doloribus a vel, praesentium iusto? Ea, commodi voluptate.
		Esse harum optio tenetur, ex possimus mollitia eveniet ratione iste, quo reiciendis, magni dolor debitis! Nihil
		ut ratione quos possimus explicabo totam reprehenderit atque dolore, libero nostrum magni numquam cum, ad
		voluptas minima delectus ipsam adipisci, alias est! Aliquid omnis incidunt nobis nam, magnam excepturi esse
		consequatur, corporis nesciunt ex, fuga quidem culpa illo. Esse, temporibus provident. Vel recusandae corrupti
		repudiandae labore reprehenderit non ad veritatis, tempora, obcaecati ex deleniti quam eius? Quos, molestiae
		minus consequatur corrupti quidem optio animi ratione accusantium sint quae vel ad dolores autem alias?
		Perferendis explicabo soluta vitae voluptatem cumque obcaecati in possimus laudantium illum labore! Modi ullam
		ipsa ex atque vero non corrupti sequi nam odio, omnis natus assumenda, quisquam deleniti praesentium! Rem
		voluptatum facilis soluta ex, rerum, ratione laborum voluptate eius quasi debitis perferendis tempore
		cupiditate, labore qui sapiente deleniti accusantium officiis maiores ipsum placeat! Quod pariatur aperiam
		tempora ab similique sed error ullam. Necessitatibus reiciendis qui placeat beatae explicabo iusto nemo nam
		reprehenderit, quae eum dolor sequi consequuntur, impedit aspernatur corrupti. Unde facere nulla maxime ex
		eligendi reprehenderit modi esse, deleniti error asperiores nam ratione iusto velit saepe beatae magni in
		blanditiis? Quibusdam voluptatem reiciendis impedit corrupti, quaerat debitis architecto odio repellat nihil
		temporibus porro assumenda nulla cupiditate praesentium doloribus soluta? Minima molestiae vitae odit saepe quam
		doloremque fugiat dignissimos, ex voluptas inventore nesciunt aliquam sint modi aperiam!</p>
</div>
