.m-t-10 {
    margin-top: 10vh;
    width: 100vw;
}

p {
	color: var(--footer-text-color);
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2vw;
	background-color: var(--footer-bg-color);
}

@media screen and (max-width: 768px) {
	footer {
		flex-direction: column;
		row-gap: 20px;
	}
}
