<h1>È un piacere vederti!</h1>
<div class="flex-row">
	<p>
		Ho sempre avuto una forte passione per la musica, nata da quando ero piccolo. Ricordo un
		evento di musica dal vivo che mi ha fatto appassionare alla chitarra, e da lì ho voluto
		approfondire questo interesse.
	</p>
	<img src="placeholders/400x300.png" alt="Placeholder" />
</div>
<div class="flex-row-reverse">
	<p>
		Nella vita ho provato diverse cose. Per cercare di sostenarmi ho lavorato come cameriere e
		receptionist per pagarmi gli studi e l'attrezzatura necessaria a coltivare questa passione.
		Ho imparato la disciplina e il rigore.
	</p>
	<img src="placeholders/400x300.png" alt="Placeholder" />
</div>
<div class="flex-row">
	<p>
		Un'altra mia passione è l'Informatica. Ho studiato Ingegneria Informatica presso
		l'università di Pisa, lasciandola per inseguire il mio sogno di fare e insegnare musica, ma
		imparando ad essere ordinato e organizzato.
	</p>
	<img src="placeholders/400x300.png" alt="Placeholder" />
</div>
<div class="flex-row-reverse">
	<p>
		Attualmente sono uno studente presso la scuola privata di musica <a href="https://urlLizard">Lizard</a>,
		dove sto conoscendo altri aspiranti musicisti, entrando nel mondo e costruendo legami
		importanti per arricchire la mia conoscenza
	</p>
	<img src="placeholders/400x300.png" alt="Placeholder" />
</div>
<p class="text-center">
	Il mio obiettivo è quello di diventare un insegnante di musica e condividere la mia passione con
	gli altri. Spero che tu possa trovare qualcosa di interessante in questo sito!
</p>
