/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--primary-color: #fd26eb;
	--secondary-color: #8829c7;
	--black: #000;
	--white: #fff;
	--mobile: 768px;
}

body {
	--text-color: #222;
    --bkg-color: #fff;
	--hover-color: #f0f0f0;
    --btn-txt-color: var(--white);
    --btn-bg-primary-color: var(--primary-color);
    --btn-bg-secondary-color: var(--secondary-color);
	--nav-bkg-color: rgba(255, 255, 255, 0.24);
	--nav-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	--nav-border-color: rgba(255, 255, 255, 0.137);
	--course-card-bkg-color: #f9f9f9;
	--course-card-border-color: #ddd;
    margin: 0px 10vw;
    background: var(--bkg-color);
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
	--hover-color: #000000;
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-primary-color: var(--primary-color);
    --btn-bg-secondary-color: var(--secondary-color);
	--nav-bkg-color: rgba(0, 0, 0, 0.24);
	--nav-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
	--nav-border-color: rgba(0, 0, 0, 0.415);
	--course-card-bkg-color: #1F1F20;
	--course-card-border-color: var(--black);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: var(--text-color)
}

img {
	max-width: 100%;
	object-fit: contain;
}

/* BUTTONS */

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	border-radius: 10px;
	cursor: pointer;
	column-gap: 6px;
	transition: background 0.3s ease;
}

button.primary-btn {
	background: var(--btn-bg-primary-color);
	color: var(--btn-txt-color);
}

button.secondary-btn {
	background: var(--secondary-color);
	color: var(--btn-txt-color);
}

button.primary-btn i,
button.secondary-btn i {
	color: var(--btn-text-color);
}

button.primary-btn:hover {
	background: var(--btn-text-color);
	color: var(--btn-bg-primary-color);
	outline: solid 1px var(--btn-bg-primary-color)
}

button.secondary-btn:hover {
	background: var(--btn-text-color);
	color: var(--btn-bg-secondary-color);
	outline: solid 1px var(--btn-bg-secondary-color)
}

button.primary-btn:hover i {
	color: var(--btn-bg-primary-color);
}

button.secondary-btn:hover i {
	color: var(--btn-bg-secondary-color);
}

/* HEADINGS */
h1, h2, h3 {
	text-align: center;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}
